#new_message_link{
    height: 60px;
}

ul.todo-list li.un_read_message_list {
   
    border-bottom: 2px solid rgb(219, 219, 219);
    cursor: pointer;
}
ul.todo-list li.un_read_message_list:hover {
    color: aqua;
    background-color: #888888;
    text-decoration: #BDECF7 underline;
}
ul.todo-list li.read_message_list:hover {
    background-color: #888888;
     text-decoration: #BDECF7 underline;
}


ul.todo-list li.read_message_list {
     background-color: rgb(253, 253, 253);
    //background-color: red;
    border-bottom: 2px solid rgb(219, 219, 219);
    cursor: pointer;
}

ul.todo-list li.read_message_list:hover {
     color: aqua;
    text-decoration: #BDECF7 underline;
}

#message_titles_holder, #message_body_holder{
    min-height: 500px;
}

#msg_view{
    height: 350px;
    border: 1px solid graytext;
    border-radius: 5px;
    overflow-y: scroll;
    
}

#comment_box_holder{
    border-radius: 5px;
    margin-top: 2px;
    
}

ul.menu li.un_read_message_list {
    background-color: #BDECF7;
}

ul.todo-list li.selected {
    background-color: rgb(172, 201, 202);
}


ul#fileList.fileListInline li{
    display: inline-block !important;
    margin-left: 4px  !important;
    background: rgb(228, 228, 192)  !important;
    padding: 1px  !important;
    text-align: center  !important;
    border: 1px  !important;
    border-radius: 18px  !important;
}

#msg_view_title{
    margin-top: 10px;
    background-color: antiquewhite;
    font-size: 1.5em;
    font-family: monospace;
}

.titleHolder{
    text-decoration: underline;
}

#msg_view_body{
    padding: 5px;
    background: rgb(236, 255, 253);
    height: 150px;
}

#msg_view_body label{
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid antiquewhite;
    font-weight: bolder;
    font-size: 1.5em;
}